DEBUG=True

GPT_TEMPERATURE=1.1
GPT_BASE_URL=""
GPT_API_KEY=""

GPT_DEFAULT_MODEL="gpt-5"


# SQL_DATABASE_URI="mysql+asyncmy://root:xxxxxx@127.0.0.1:3306/template" need to optimized src/axionara/core/db/models.py

# Create cache/database.db before u run the project
SQL_DATABASE_URI="sqlite+aiosqlite:///cache/database.db"

STORAGE_BACKEND="minio"
MINIO_ENDPOINT="localhost:20005"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_SECURE=False
MINIO_BUCKET_RAW="axionara-raw"
MINIO_BUCKET_ANALYSIS="axionara-analysis"
MINIO_BUCKET_ARTIFACTS="axionara-artifacts"
